@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /**
   * Remove Arrow on Input type Number
   */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .pointer-events-all {
    pointer-events: all;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }

  .text-clipped-preview {
    overflow: hidden;
    position: relative;
    background-color: white;
  }

  .text-clipped-preview-link {
    position: absolute;
    right: 0;
    background: inherit;
    outline: none;
    padding-left: 18px;
  }

  .text-clipped-preview-link:before {
    content: '...';
    position: absolute;
    bottom: -1px;
    left: 0;
    text-decoration: none;
    color: #000;
  }
}

html,
body {
  font-family: 'Alegreya Sans';
  background-color: '#FBFBFB';
}
