@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /**
   * Remove Arrow on Input type Number
   */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .pointer-events-all {
    pointer-events: all;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

html,
body {
  font-family: 'Alegreya Sans';
  background-color: '#FBFBFB';
}
